# postgreSQL db
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=finance_pass
POSTGRES_DB=finance_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# API keys
OPENAI_API_KEY="openai_key"
EXCHANGERATE_API_KEY="exchangerate_key"
YAHOO_FINANCE_API_KEY="yahoo_key" # PLACEHOLDER this aint a real API, will use a library

# app settings
BASE_CURRENCY="USD"